button{opacity: 1;}

button, select{text-transform: none;}

button, input{overflow: visible;}

button, input, optgroup, 
select, textarea{
margin: 0;
font-family: inherit;
font-weight: inherit;
font-size: inherit;
line-height: inherit;
}

.btn-block{
display: block;
width: 100%;
}

.btn-xs{
font-size: .65rem;
padding: .1rem 0;
width: 3rem;
}
.btn-sm{
font-size: .75rem;
padding: .25rem .5rem;
/* border-radius: .2rem; */
}
.btn-md{
font-size: 1rem;
padding: .3rem .8rem;
/* border-radius: .2.5rem; */
}
.btn-lg{
font-size:1.23rem;
padding: .5rem 1rem;
/* border-radius: .3rem; */
}

.btn{
display: inline-block;
/* font-weight: 300; */
line-height: 1.5;
text-align: center;
vertical-align: middle;
border: 1px solid transparent;
/* border-radius: .2rem; */
background-color: transparent;
cursor: pointer;
/* border-radius: 50px 50px 50px 50px; */
}

.btn-shadow{
  box-shadow: 0 2px 2px 0 rgb(104, 104, 104);
}

.btn-bottom-line{
  color: #666;
  border-bottom: 1px solid #666;
/* padding-bottom: 3px; */
}

.btn-warning{
color: #666;
background-color: #ffc107;
border-color: #ffc107;
}
.btn-warning:hover{
color: #8d8d8d;
background-color: #888282;
border-color: #f3f3f3;
}

.btn-next{
  color: #fff;
  background-color: #5e7077;
  /* background-color: black; */
  border-color:#5e7077;
  }
  .btn-next:hover{
  color: #8d8d8d;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  }

.btn-white:hover{
color: #8d8d8d;
background-color: #f3f3f3;
}

.btn-white{
/* font-weight: 300; */
line-height: 1.5;
text-align: center;
vertical-align: middle;
border: 1px solid #d1d1d1;
padding: .3rem;
font-size: .8rem;
background-color: white;
/* border-radius: .2rem; */
}
.btn-white:hover{
color: #666;
background-color: #f3f3f3;
}

.btn-gray{
/* font-weight: 300; */
line-height: 1.5;
text-align: center;
vertical-align: middle;
border: 1px solid #d1d1d1;
padding: .3rem;
font-size: .8rem;
background-color: rgb(230, 230, 230);
/* border-radius: .2rem; */
}
.btn-gray:hover{
color: #666;
background-color: #fff;
}

.btn-outline-secondary{
color: #8d8d8d;
border-color: #8d8d8d;
background-color: white;
}

.btn-primary{
/* font-weight: 300; */
line-height: 1.5;
text-align: center;
vertical-align: middle;
border: 1px solid #C8CFDB;
padding: .3rem;
font-size: .8rem;
background-color: #C8CFDB;
/* border-radius: .2rem; */
}

.btn-primary:hover{
background-color: fff;
color: #666;
border: 1px solid #666;
}

.line-primary{
  color: #375b69;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  border-bottom: 3px solid #C8CFDB;
  padding: .3rem;
  font-size: .8rem;
  background-color: none;
}
.line-primary:hover{
  border-bottom: 3px solid #000;
}

.line-gray{
  color: #666;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  border-bottom: 3px solid #e2e2e2;
  padding: .3rem;
  font-size: .8rem;
  background-color: none;
}
.line-gray:hover{
  border-bottom: 3px solid #000;
}

.line-white{
  color: #666;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  border-bottom: 3px solid #666;
  padding: .3rem;
  font-size: .8rem;
}
.line-white:hover{
  border-bottom: 3px solid #000;
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3000;
}

.modalBox {
  position: absolute;
  background-color: #fff;
  width: 300px;
  height: 200px;
  padding: 15px;
  text-align: center;
  z-index: 3000;
}

.modalBox button {
  display: block;
  width: 80px;
  margin: 0 auto;
  z-index: 3000;
}

.hidden {
  display: none;
}

.media-button{
  width: 100%;
}
.table-btn{
  width: 100%;
}
@media (min-width:501px){
  .media-button{
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
  }
  .table-btn{
    max-width: 1100px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content:end;
  }
}