/* container-size */
.container {
  width: 100%;
}
.container-xl {
  width: 100%;
}
.container-xxl {
  width: 100%;
}
.container-fluid{
  width: 100%;
}

.border-line{
  border: 1px solid #666;
}
.border-bottom-line{
  border-bottom: 1px solid #666;
}

.left-box{
  width: 400px;
  padding:0 0.8rem 0 0;
  /* background-color: rgb(224, 184, 131); */
}
.right-box{
  width: 100%;
  padding: 0.8rem;
  margin: 0 auto;
}

.bg-gray{
  background-color: #ececec;
}
.bg-primary{
  background-color: #C8CFDB;
}
.bg-white{
  background-color: #fff;
}

.input-group {
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-group {
  position: relative;
  flex-wrap: wrap;
  width: 100%;
}
.input-group > :not(:first-child) :not(.dropdown-menu) {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-group .input-group-text {
  background-color: inherit;
  width: 100%;
  border: 1px solid #ececec;
  /* border-radius: 0; */
  /* text-align: left; */
  cursor: pointer;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 300;
  color: #666;
  white-space: nowrap;
  border: 0 solid #fff;
  border-radius: 0;
}
.form-file-button,
.input-group-text {
  line-height: 1.5;
}
.input {
  appearance: none;
  opacity: 1;
}

input:focus {outline:none;}

.input-set input, .input-set select{
  border: 0;
}

.input-set{
  width: 100%;
  border: 1px solid #ececec;
  /* border-radius: 0; */
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.filebox .upload-name {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  border: 1px solid #ececec;
  width: 600px;
  color: #C8CFDB;
}
.filebox label {
  text-align: center;
  display: inline-block;
  color: #000000;
  vertical-align: middle;
  background-color: #C8CFDB;
  cursor: pointer;
}
.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.help-tip{
	position: absolute;
	/* top: 18px; */
	right: 10px;
	text-align: center;
	background-color: #4a5568;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	cursor: pointer;
  z-index: 3000;
}

.help-tip:before{
	content:'?';
	font-weight: bold; 
	color:#fff;
}

.help-tip:hover p{
	display:block;
	transform-origin: 100% 0%;
	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;
}

.help-tip p{
	display: none;
	text-align: left;
	background-color: #eeeeee;
	padding: 10px;
	width: 460px;
  height: 230px;
	position: absolute;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	right: 10px;
	color: #000000;
	font-size: 0.8rem;
	line-height: 1.4;
  margin-top: 5px;
}

.scrollbar {
  overflow-y: scroll;
  scrollbar-width: thin;
}
.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #5e7077;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px rgb(218, 218, 218);
}

.line-chart{
  width: 100%;
}
.input-box{
  width: 100%;
  margin: 0 auto;
}
.media-img{
  width: 100%;
}
.media-section{
  width: 100%;
}
.media-box{
  width: 100%;
}

.search{
  width: 1200px;
  justify-content: end;
  display: flex;
  align-items: center;
}
.form-content{
  width: 150px;
  text-align: center;
  border-bottom:1px solid #C8CFDB;
}

.bg-box{
  width: 100%;
  /* background-color: #656b75; */
  /* background: 
    linear-gradient( to top, rgb(255, 255, 255), rgb(76, 86, 97) ); */
  /* background-color: rgb(148, 159, 165); */
}
.chart-box{
  width: 100%;
  height: 1000px;
  margin: 0 auto;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  /* background: 
  linear-gradient( to bottom, rgb(139, 154, 170), rgb(76, 86, 97) ); */
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration
{display:none;}

@-webkit-keyframes fadeIn {
	0% { 
		opacity:0; 
		transform: scale(0.6);
	}
	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}

.canvas{
  width: 100%;
}

@media (min-width:501px){
  .right-box{
    width: 900px;
    padding: 0.8rem;
    margin: 0 auto;
  }
  .input-box{
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }
  .table-box{
    max-width: 1360px;
    margin: 0 auto;
    justify-content: space-around;
  }
  
  .media-box{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .canvas{
    max-width: 500px;
    height: 900px;
    margin: 0 auto;
  }
}
@media (max-width:500px){
  .left-box{
    width: 100%;
    padding:0 0.8rem 0 0;
  }
  .search{
    width: 1200px;
    justify-content: start;
    display: flex;
    align-items: center;
  }
}
@media (min-width:968px){
  .line-chart{
    max-width: 500px;
    height: 300px;
    margin: 0 auto;
  }
  .media-img{
    width: 900px;
    margin: 0 auto;
  }
  img{
    width: 700px;
  }
  .bg-box{
    height: 750px;
    padding-top: 100px;
    /* background-color: #656b75; */
  }
  .media-section{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 2px;
    box-shadow:3px 2px 2px 2px rgb(93, 109, 129);
  }
  .canvas{
    max-width: 1100px;
    height: 450px;
    margin: 0 auto;
  }
}